.about {
  padding: 4rem;
}

.about-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 2rem 0;
  
}

.about-description {
  /* width: 55%;
  margin-right: 5%; */
  flex: 1.5;
  margin-right: 4rem;
}

.about-flip-image {
  /* width: 40%; */
  flex: 1;
}

.about__link:link,
.about__link:visited {
  color: #55c57a;
  /* background-color: #333; */
  text-decoration: none;
  text-transform: uppercase;
  /* display: inline-block; */
  transition: all .2s;
}

.about__link:hover,
.about__link:active {
  color: #28b485;
  /* box-shadow: 0 1rem 2rem rgba(0, 0, 0, .4); */
  /* transform: scale(1.05); */
}